<div class="welcome-text text-center">
  <h1>Welcome to Glympse!</h1>
  <span>share location with your friends</span>
</div>

<% if user_signed_in? %>
  Your Friends
  <hr/>
  <ul class="list-unstyled"><%= render partial: 'users/user', collection: current_user.friends %></ul>
<% end %>
