.map-container {
  height: 300px;
  width: 500px;
}

#map {
  height: 100%;
}

#location_address, #shared_users {
  width: 300px;
}

.locations {
  width: 300px;

  .location {
    padding: 10px 0;
  }
}
